body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
}

#chat-container {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
}

#messages {
  border: 1px solid #ccc;
  padding: 10px;
  height: 500px; /* 채팅창 높이 설정 */
  overflow-y: scroll; /* 스크롤 가능하도록 설정 */
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
}

.own-message {
  background-color: #dcf8c6;
  align-self: flex-end;
  text-align: right;
}

.other-message {
  background-color: #e3e3e3;
  align-self: flex-start;
  text-align: left;
}

.message-time {
  font-size: 0.8em;
  color: #888;
  margin-top: 5px;
}

.left-chat-room {
  color: #888;
  text-align: center;
  margin-top: 20px;
  display: none; /* 처음에는 숨김 */
}

#msg {
  width: calc(100% - 70px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

#send-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.disabled-btn {
  background-color: #ccc !important;
  cursor: not-allowed;
}
